{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center mt-5 mb-4">Actualizar Pedido</h1>
    {% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="POST" target="_self">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}